p {
  font-family: Lato;
}
.fake-scroll{
  overflow-y: scroll; 
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #eee;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #585858;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(0, 0, 0);
}

a, a:hover {
  cursor: pointer;
  text-decoration: none;
}

.nav-font{
  padding-bottom: 20px;
}

.back-btn{
  width: 50px;
  height: 30px;
  border: none;
  background: none;
  margin-top: 30px;
}
.back-btn img{
  width: 60%;
}

.char-details{
  text-align: center;
}

.char-details a{
  margin-top: 30px;
}

.char-details img{
  width: 200px;
  height: 200px;
  margin-bottom: 20px;
}