
<div class="nb-scroll">
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <button (click)="goBack()" class="back-btn" title="Go Back">
        <img src="https://stackblitz.com/files/angular-notebook-app/github/santoravi7/angular-notebook-app/master/src/app/images/arrow.png" />
      </button>
    </div>
    <div class="col-md-3" *ngFor="let characters of data | groupBy:'house'">
      <div class=" col">
        <div class="char-details">
          <a (click)="getInfo(characters)">{{characters.key}}</a>
          <!-- <h6>{{characters.value | json}}</h6> -->
        </div>
      </div>
    </div>
  </div>
</div>
</div>
