<div class="nb-scroll">
  <div class="container">
    <div class="row">
      <div class="col-md-12 list-navbar">
        <button (click)="goBack()" class="back-btn" title="Go Back">
          <img src="https://stackblitz.com/files/angular-notebook-app/github/santoravi7/angular-notebook-app/master/src/app/images/arrow.png" />
        </button>
      </div>
      <div class="col-md-3" *ngFor="let characters of data | groupBy:'cat' | pairs; index as charId">
          <div class=" col">
            <div class="char-details">
              <a class="char" (click)="viewCharDetails(characters,charId)">
              <img src="https://hp-api.herokuapp.com/images/harry.jpg"/> 
              <!-- 
                onerror="this.src='https://stackblitz.com/files/angular-ivy-tkxjke/github/santoravi7/angular-HarryPotter/master/src/assets/placeholder.png'" -->
              {{characters.key}}
            </a>
            </div>
          </div>
      </div>
    </div>
  </div>
  </div>