<div class="nb-scroll">
  <div class="container">
    <div class="row">
      <div class="col-md-12 list-navbar">
        <button (click)="goBack()" class="back-btn" title="Go Back">
          <img src="https://stackblitz.com/files/angular-notebook-app/github/santoravi7/angular-notebook-app/master/src/app/images/arrow.png" />
        </button>
        <span>Character details</span>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 search-hero ">
        <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="Start searching for a Character by name">
        
      </div>
      
      <div class="col-md-3" *ngFor="let characters of item | filter:searchText; index as charId">
          <div class=" col">
            <div class="char-details">
              <a class="char" (click)="viewCharDetails(characters,charId)">
                <div *ngFor="let value of characters.groupItem">
                  <img [src]=value.image/>
                </div>
                {{characters.name}}
              </a>
            </div>
          </div>
      </div>
    </div>
  </div>
  </div>