<div class="nb-scroll">
  <div class="container">
    <div class="row">
      <div class="col-md-12 list-navbar">
        <button (click)="goBack()" class="back-btn" title="Go Back">
          <img src="https://stackblitz.com/files/angular-notebook-app/github/santoravi7/angular-notebook-app/master/src/app/images/arrow.png" />
        </button>
      </div>
      <!-- <pre>{{ currentState$ | async | json }}</pre>
      =={{charData.groupItem}}=== -->
      <div class="col-md-3" *ngFor="let char of charData.groupItem; index as charId">
          <div class="col">
            <div class="char-details">  
              <img [src]=char.image/>
              {{char?.name}}
              {{char?.actor}}
              {{char?.gender}}
              {{char?.house}}
              {{char?.wand?.wood}}
              {{char?.dateOfBirth}}
          </div>
         
      </div>
    </div>
  </div>
  </div>