<div class="nb-scroll">
  <div class="container">
    <div class="row">
      <div class="col-md-12 list-navbar">
        <button (click)="goBack()" class="back-btn" title="Go Back">
          <img src="https://stackblitz.com/files/angular-notebook-app/github/santoravi7/angular-notebook-app/master/src/app/images/arrow.png" />
        </button>
      </div>
      <div class="col-md-3" *ngFor="let characters of charData.value; index as charId">
          <div class=" col">
            <div class="char-details">  
              <img [src]=characters.image/>         
              Character Name : {{characters.name}}
              <br>
              Original Name : {{characters.actor}}
              <br>
              Date of Birth : {{characters.yearOfBirth}}
              <br>
              Wand : {{characters.wand.core ? characters.wand.core : "NA"}}
            </div>
          </div>
      </div>
    </div>
  </div>
  </div>